.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #376a54; // رنگ پس‌زمینه اصلی هدر

    .logo {
        img {
            max-width: 100px;
            height: auto;
        }
    }
}