.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #376a54; // رنگ پس‌زمینه اصلی هدر

    .logo {
        img {
            max-width: 100px;
            height: auto;
        }
    }

    .hamburger-icon {
        cursor: pointer;
        font-size: 1.5rem; // اندازه آیکون همانند حالت قبلی
        color: #000000;
        position: relative;

        i {
            display: inline; // آیکون باید نمایش داده شود
        }

        .underline {
            content: '';
            position: absolute;
            bottom: -5px; // مکان خط سبز
            left: 0;
            right: 0;
            height: 2px;
            background-color: #32cd32; // سبز جیغ
            opacity: 0;
            transition: opacity 0.2s;
            // هنگام هاور، خط سبز جیغ نمایش داده می‌شود
            .hamburger-icon:hover & {
                opacity: 1;
            }
        }
    }

    .main-nav {
        position: absolute;
        top: 94.5px; // باز شدن منو دقیقا زیر خط هدر
        right: 10px;
        background-color: rgba(55, 106, 84, 0.5); // سبز شفاف
        z-index: 10;
        padding: 10px;
        width: 200px; // پهنای مناسب برای منو

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column; // جهت‌گیری منو

            li {
                padding: 10px;
                text-align: right; // راست‌چین کردن

                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: #e3f9e5; // تغییر رنگ بر روی هاور
                    }
                }

                i {
                    margin-left: 20px; // فاصله بین آیکون و متن زیرمنو
                }


            }
        }
    }
}