<header class="header">
    <div class="logo">
        <img src="assets/logo.png" alt="Logo">
    </div>
    <nz-demo-dropdown-basic></nz-demo-dropdown-basic>


    <!-- <div class="hamburger-icon" (mouseenter)="handleMouseEnter()" (mouseleave)="handleMouseLeave()">
        <i class="fas fa-bars">
        </i>
        <div class="underline"></div>
        <nav class="main-nav" *ngIf="menuOpen" [@menuAnimation] (mouseenter)="handleMouseEnter()"
            (mouseleave)="handleMouseLeave()">
            <ul>
                <li>
                    <a href="#home">خانه</a>
                    <i class="fas fa-home"></i>
                </li>
                <li>
                    <a href="#about">درباره ما</a>
                    <i class="fas fa-info-circle"></i>
                </li>
                <li>
                    <a href="#services">نمونه کارها</a>
                    <i class="fas fa-briefcase"></i>
                </li>
                <li>
                    <a href="#contact">تماس با ما</a>
                    <i class="fas fa-envelope"></i>
                </li>
                <li>
                    <a href="#blog">بلاگ</a>
                    <i class="fas fa-blog"></i>

                </li>
            </ul>
        </nav>
    </div> -->

</header>