<section class="hero">
    <div class="hero-content">
        <img src="assets/profile-pic.jpg" alt="Profile Picture" class="profile-pic">
        <h1>سلام، من فاطمه حمامی هستم</h1>
        <p>کارشناس تحلیل دیتا شرکت دمیس <br>
            فارغ‌التحصیل رشته فناوری اطلاعات سلامت از دانشگاه علوم پزشکی اصفهان
        </p>

        <!-- افزودن توضیح کوتاه درباره مهارت‌ها -->
        <div class="skills-summary">
            <h3>مهارت‌های من</h3>
            <ul>
                <li>تحلیل داده</li>
                <li>فناوری اطلاعات سلامت</li>
                <li>مدیریت پروژه</li>
                <li>توسعه وب</li>
            </ul>
        </div>

        <div class="cta-buttons">
            <a href="#contact" class="cta-button primary">تماس با من</a>
            <a href="#portfolio" class="cta-button secondary">نمونه کارها</a>
        </div>
    </div>
</section>